@import "../../styles/variables.scss";

.card {
  @include font700;

  display: flex;
  flex-direction: column;
  height: 544px;

  justify-content: center;
  max-width: 394px;

  img {
    width: 394px;
    height: 360px;
    margin-bottom: 26px;
  }
  
  .description {
    flex: 1;

     h2 {
      font-size: 26px;
     }
  
     .price {
      margin-top: 18px;
  
      font-size: 24px;
     }
  
     .category {
      margin-bottom: 14px;
  
      color: $gray-text;
      font-size: 18px;
     }
  }
}

